ion-avatar{border: 1px solid #ccc;
    padding: 4px;}
    .head{color: #000000;
    font-size: 16;
    margin: 0px 0px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #ccc;
    font-weight: bold;
    background: #ffffff;}
    
    .hcs {margin-top:12px; font-size:14px;}
    .hcs span{font-size:14px;float:right ;vertical-align: middle;margin-top: 0px;}
     img{  padding-right:10px; float:right;}
    