<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start" color="none">
            <ion-buttons slot="start" color="none">
                <ion-back-button color="none" defaultHref="home"></ion-back-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title>Industrial DSR</ion-title>
       
  </ion-toolbar>
</ion-header>

<ion-content color="light"  class="bgWhite" style="height: 80%;">


<ion-item style="margin-top: 20px !important;" *ngIf="reqdate">
    <ion-label>Select Date</ion-label>
    <ion-datetime   [max]="maxdate" [min]="mindate" pickerFormat="YYYY-MM-DD" [(ngModel)]="datetime"></ion-datetime>
  </ion-item> 

 <ion-item>

      <ion-label color="secondary">HQ</ion-label>
      <ion-label color="dark">Haridwar</ion-label>
    </ion-item>
     <ion-item>

      <ion-label color="secondary">User Name</ion-label>
      <ion-label color="dark">{{username}}</ion-label>
    </ion-item>
<ion-item style="margin-top: 20px !important;">
    <ion-label>Select Uploading Date</ion-label>
    <ion-select (ionChange)="dateChangeDrop()" style="width:100%;" placeholder="Select Option" [(ngModel)]="dateSelect"
      class="native">
       <ion-select-option *ngFor="let item of daterequest" value="{{item}}">{{item}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>


    <ion-label>Select Option</ion-label>
    <ion-select (ionChange)="getSealStatus()" style="width:100%;" placeholder="Select Option" [(ngModel)]="fieldtype"
      class="native">
      <ion-select-option value="Office">In Office</ion-select-option>
      <ion-select-option value="InField">In Field</ion-select-option>
      <ion-select-option value="InFieldandOffice">In Office And Field </ion-select-option>
      <ion-select-option value="Leave">On Leave</ion-select-option>
      <ion-select-option value="Holiday">Announced Holiday</ion-select-option>
    </ion-select>

  </ion-item>



  <ion-item *ngIf="towndata">


    <ion-label>Select Option</ion-label>
    <ion-select  style="width:100%;" placeholder="Select Option" [(ngModel)]="activity"
      class="native">
      <ion-select-option value="Visit">Visit</ion-select-option>
      <ion-select-option value="Phone">Phone</ion-select-option>
      
    </ion-select>

  </ion-item>

<ion-item *ngIf="towndata">
  <ion-label>Select Town</ion-label>
 
  <ion-button expand="full" color="primary" (click)="openPopOver()">Select Town</ion-button>

</ion-item>
<div class="town">{{townname}}</div>
   <!-- <ion-item *ngIf="towndata">

    <ion-label>Select Town</ion-label>
    <ion-select (ionChange)="getCustomerList()" style="width:100%;" placeholder="Select Option" [(ngModel)]="townselected" class="native">
      <ion-select-option *ngFor="let item of towndatalist" value="{{item.town}}" >{{item.town}}</ion-select-option>
    </ion-select>

  </ion-item> -->
  <div *ngIf="townlist">
     <ion-item>
       <ion-label>Select Customer</ion-label>
        <ion-button expand="full" color="primary" (click)="openPopOverCustomer()">Select Customer</ion-button>
   <!--  <ion-select (ionChange)="openModal()" style="width:100%;" placeholder="Select Option" [(ngModel)]="clientselected" class="native">
      <ion-select-option *ngFor="let citem of customerdatalist" [value]="citem" >{{citem.client_name}}</ion-select-option>
    </ion-select> -->
    
     </ion-item>
    <div class="town">{{customername}}</div>
  </div>

  <ion-item>

    
    <ion-select  (ionChange)="getSealStatus()" class="ion-text-wrap" style="width:100%;" placeholder="Current Issues" [multiple]="true" [(ngModel)]="currentissue"
      class="native">
      <ion-select-option value="None">None</ion-select-option>
      <ion-select-option value="Incomplete Order Supplied">Incomplete Order Supplied</ion-select-option>
      <ion-select-option value="Material Availibility at Source">Material Availibility at Source</ion-select-option>
      <ion-select-option value="Packaging  Issue">Packaging  Issue</ion-select-option>

      <ion-select-option value="Delayed Delivery">Delayed Delivery</ion-select-option>
      <ion-select-option value="Damaged during transportation">Damaged during transportation</ion-select-option>
      <ion-select-option value="Material Excess">Material Excess</ion-select-option>
      <ion-select-option value="Quality Problems">Quality Problems</ion-select-option>

      <ion-select-option value="New Articles Required">New Articles Required</ion-select-option>
      <ion-select-option value="Physical Material Shortage">Physical Material Shortage</ion-select-option>
      <ion-select-option value="Physical Material Excess">Physical Material Excess</ion-select-option>


      <ion-select-option value="Accounting Issues">Accounting Issues</ion-select-option>
      <ion-select-option value="Secondary scheme Requirment">Secondary scheme Requirment</ion-select-option>
      <ion-select-option value="Seniors visited required">Seniors visited required</ion-select-option>
      <ion-select-option value="Shade card Required">Shade card Required</ion-select-option>
      <ion-select-option value="Other">Other</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-col size="12" style="padding: 10px;">
    <ion-label  class="fintbold" color="dark">Enter Remarks</ion-label>
    <textarea cols="35" rows="2" [(ngModel)]="remarks"></textarea>
  </ion-col>
</ion-item>
   <ion-row>
      <ion-col>
        <ion-button  color="danger" expand="full" (click)="addDSR()">
          Add DSR </ion-button>
          
      </ion-col>

    </ion-row>
</ion-content>




<ion-content color="light"  class="bgWhite" style="height: 20%; margin-top:20px ;">
  <div class="divstyle">Added Customers</div>
  <div *ngFor="let item of dataadded; let i = index;">
   <ion-item>

      <ion-label color="primary">{{item.clientname}}</ion-label>
      <ion-icon name="trash-outline" style="padding-right: 20px;" color="danger" (click)="delItem(i)"></ion-icon>
     
     
    </ion-item>

<ion-item>
    <ion-grid>
<ion-row>
  <ion-col size="6">
      <ion-label class="fintbold" color="dark">Town</ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label class="inputclass">{{ item.townname }}</ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label  class="fintbold" color="dark">Present</ion-label>
       </ion-col>
    <ion-col size="6">
      <ion-label class="inputclass" >{{ item.presenttype }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
    </ion-item>
 
<ion-item>
  <ion-grid>
<ion-row>
  <ion-col size="6">
      <ion-label class="fintbold" color="dark">Visit Type</ion-label>
       </ion-col>
    <ion-col size="6">
      <ion-label class="inputclass" >{{ item.visittype }}</ion-label>
      </ion-col>
   
 <ion-col size="4">

    <ion-label class="fintbold" color="dark">Current Issue</ion-label>
   
</ion-col>
<ion-col size="8">
 <ion-label class="inputclass" >{{ item.currentissue }}</ion-label>
</ion-col>
</ion-row>
</ion-grid>

  </ion-item>
  <ion-item>
 
  <ion-label class="fintbold" color="dark">Remarks</ion-label>
   
     
     <ion-label>{{ item.remarks }}</ion-label>


    </ion-item>

</div>




</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="full" (click)="uploadDSR()">
          Upload DSR </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>