.txtname{padding-left:10px; color:#000;}
ion-radio{--color-checked: #008CFF;}

.bg{
    --background: url('/assets/setclientbg.png') no-repeat center center / cover;

   
}
.bgWhite{--background: url('/assets/bgwhite.jpg') no-repeat center center / cover;}