<ion-header>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>

    <ion-title>


      <div class="hcs">

        <span>{{company}} <br />{{masterid}}</span>
      </div>




    </ion-title>
  </ion-toolbar>
  <div class="head">
    <ion-item>
      <ion-icon class="download" name="cloud-download-outline"></ion-icon>Download Account Statement For The
    </ion-item>
  </div>

</ion-header>

<ion-radio-group name="radio-group" (ionChange)="radioTimeChange($event)">
  <div style="background:#f5f5f5;border-bottom: 1px solid #ccc;">

    <ion-item>
      <ion-radio value="0"></ion-radio>
      <ion-label class="ion-text-wrap txtname">Current Month</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio value="2"></ion-radio>
      <ion-label class="ion-text-wrap txtname">Last Three Months</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio value="5"></ion-radio>
      <ion-label class="ion-text-wrap txtname">Last Six Months</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio value="11"></ion-radio>
      <ion-label class="ion-text-wrap txtname">Current Financial Year</ion-label>
    </ion-item>
  </div>
</ion-radio-group>




<ion-content color="light" class="bgWhite">
  <div class="maincat">




    <div *ngIf="datalength!=0 && datalength!=-1" class="head1"><span style="color:#000">Opening Balance:</span>
      {{openingbalance}}</div>

    <ion-item *ngIf="datalength!=0 && datalength!=-1">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="cathead"><strong>Voucher No</strong></ion-col>
          <ion-col size="3" class="cathead"><strong>Date</strong></ion-col>
          <ion-col size="3" class="cathead"><strong>Debit</strong></ion-col>
          <ion-col size="3" class="cathead"><strong>Credit</strong></ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
    <ion-item *ngFor="let prod of statement">

      <ion-grid>
        <ion-row>

          <ion-col size="3" class="cat2"><span>{{prod.voucher_number}}</span>
          </ion-col>
          <ion-col size="3" class="catname" class="cat1"><span>{{prod.date}}</span></ion-col>
          <ion-col size="3" class="cat1"><span>{{prod.debit}}</span></ion-col>
          <ion-col size="3" class="cat1"><span>{{prod.credit}}</span></ion-col>



        </ion-row>
      </ion-grid>

    </ion-item>
    <div *ngIf="datalength!=0 && datalength!=-1" class="head1"><span style="color:#000">Closing Balance:</span>
      {{closingbalnace}}</div>
  </div>

  <div *ngIf="datalength==0" class="nodata">
    You data has not been updated.
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button *ngIf="selectedOption && datalength!=0" color="primary" expand="full" (click)="downloadPDF()">
          Download </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>