.divstyle{font-weight: bold;
    padding: 10px 0px;
    margin-left: 20px;}
    .fintbold{font-weight:bold;}
    .town{padding: 5px 20px;
    font-size: 12px;
    color: #1d9dbc;
    text-align: right;}