<ion-header>
  <ion-toolbar translucent color="none">
    <ion-buttons slot="start">
      <ion-buttons slot="start" color="dark">
        <ion-back-button color="dark" defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Daily Seal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light"  class="bgWhite">

  <ion-item>

    <ion-label>Select Branch</ion-label>
    <ion-select (ionChange)="getSealStatus()" style="width:100%;" placeholder="Select Branch" [(ngModel)]="branch"
      class="native">
      <ion-select-option *ngFor="let prod of branches" value="{{prod.branch_code}}">{{prod.branch_name}}
      </ion-select-option>
    </ion-select>

  </ion-item>

  <div *ngIf="branchstatus==true" >

    <div *ngIf="sealstatus=='Opening'" style="margin-top: 50%;">
      <ion-button expand="block" color="danger" fill="outline" (click)="checkSeal()">Close Seal</ion-button>
    </div>
    <div *ngIf="sealstatus=='Closing'" style="margin-top: 50%;">
      <ion-button expand="block" color="success" fill="outline" (click)="checkSeal()">Open Seal</ion-button>
    </div>



    <div *ngIf="cntcadmnsts==true">

      <ion-card style="margin-top: 40px;">
        <ion-item>
          <ion-icon name="chatbubble" slot="start"></ion-icon>
          <ion-label color="danger">Please contact Admin</ion-label>

        </ion-item>

        <ion-card-content>
          Your Time Period to Open or Close the seal is more than 1 day,
          Now you don't have the right to proceed further.
        </ion-card-content>
      </ion-card>
    </div>

  </div>

</ion-content>