#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 65%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    color:#fff; margin-bottom:10px; font-weight:400;padding:5px 0px
   
  }
  
  #container a {
    text-decoration: none;
  }
  .bgWhite{--background: url('/assets/bgwhite.jpg') no-repeat center center / cover;}
  .bg{
      --background: url('/assets/profilebg.png') no-repeat center center / cover;
  
     
  }
  .maindiv p{font-size: 16px; text-align:center;
    color:black; margin-top:10px; font-weight:400;padding:5px 0px
    }
  
  .mainimg{text-align:center;margin-top:20px;}
  
  .image-center{
  margin:0 auto;
      padding: 5px;
      background: #fff;
      width: 150px;  
      height: 150px;  
  
  }
  
  .icon-center{
  margin:0 auto;
      padding: 5px;
      background: #fff;
   
  }
  ion-icon{color: #de6817;
      font-size: 50px;}
  .head{}
  .welcome{font-size:20px;font-weight:800; color:#fff; background:#FDC75B; padding:10px; margin-bottom:30px}
  .person{color:#fff; font-size:14px;padding-top:10px;}
  ion-col{border : 1px solid  #b9b9b9;}
  