.bgWhite{--background: url('/assets/bgwhite.jpg') no-repeat center center / cover;}
.hcs span{font-size:14px;float:right ;color:#FC5D48; font-weight:800;vertical-align: middle;margin-top: 15px;}
.hcs img{vertical-align: middle; padding-right:10px;}
.hcs{font-size: 16px;}
.maincat{
	padding: 5px;
    border-bottom: 1px solid #ccc;
    margin: 10px;
    
}
.refresh{position:absolute;right: 5px;top:100px;z-index:999;background:#ccc9; padding:5px; color:#40FC45; font-size: 40px;border-radius: 50%;}
.firstcol{background:#ff0000; color:#ffffff;}
.firsticon{font-size:45px; color:#ffffff; padding:15px 0px; font-weight:800}
.whatsapp{color:#000; text-decoration:none;padding-left:5px}
.whatsapp{width: 72px ;padding:10px;
margin-top: 5px;}
ion-toolbar{
  --min-height:70px !important;
}
.csoon{font-size:12px; background:#ff0000; color:#ffffff;padding:3px; font-weight:800;}
.dealerbanner{
	padding: 5px;
    border: 1px solid #ccc;
    margin: 10px;
}
.middiv{background:#f5f5f5;color:#000; padding:5px; font-size:14px; line-height:26px; border-bottom:1px solid #ccc;}
.catname{
	color: #222428;
    font-size: 14px;
    line-height: 30px;
    font-weight: 800;
    }
    .carticon{
    font-size: 25px;
    font-weight: 200;
    color: #fff;
    float: right;
    margin-top: 0px;
    margin-right: 10px;
    }
    h2 {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #36abe0;
    border-bottom: 1px solid #CCC;
    padding-bottom: 6px;
}
i{padding:0px 1px 0px 5px;}
.mainicons{font-size: 28px;
    color: #4432DC;
    padding: 0px 8px;
    font-weight: 800;}
.mainiconswhatsapp{font-size:35px; color:#4432DC; padding:5px 0px;}
.headings{color: #424242;
    font-size: 13px;
    font-weight: 800;
    line-height: 15px;
  

    }

.firstheading{
    color: #ffffff;
    font-size: 15px;
    font-weight: 800;
    line-height: 15px;
    margin-bottom: 10px;
}
ion-col{text-align:center; padding:5px;
height: 135px;
border-shadow: 1px solid #ccc;
border:1px solid #ccc;

}

.head{color: #1d1d1d;
    font-size: 14px;
    margin: 5px 0px;
    line-height: 23px;
    border: 1px solid #C8F8F8;
    padding: 10px;
   margin:0px 5px;;

    font-weight: bold;
    background:#E9F7F7;
    border-radius:10px;

}
.updated{font-size:12px; color:#0087FC;}

.bg{
    --background: url('/assets/dashboard.jpg') no-repeat center center / cover;

   
}
