<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar animated="true" mode="ios" [(ngModel)]="searchTerm" (ionInput)="setFilterTown()"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item button detail="false" *ngFor="let item of itemss" (click)="selectItem(item)">
      <ion-label>{{ item?.town || item?.name }}</ion-label>
    </ion-item>
    <ion-item *ngIf="!itemss?.length">
      <ion-label color="medium">No towns found</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
