.inputclass{
    

    border: 1px solid #ccc;
    margin: 5px;
    height: 30px;
        background: #fff;
    border: 1px solid #bcbcbc;
    padding: 5px;
   
    border-radius: 7px;
   

}

.imgwidth{width:20%;}
td,th{
        padding: 5px;
    border: 1px solid #ccc;
}