<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start" color="none">
            <ion-buttons slot="start" color="none">
                <ion-back-button color="none" defaultHref="home"></ion-back-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title>TADA Upload</ion-title>
        <ion-buttons slot="end" color="none" (click)="openCal()">
            Date Request
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light"  class="bgWhite" [style.height]="finalArr.length == 0 ? '100%' : '65%' ">


<ion-item style="margin-top: 20px !important;" *ngIf="reqdate">
    <ion-label>Select Date</ion-label>
    <ion-datetime   [max]="maxdate" [min]="mindate" pickerFormat="YYYY-MM-DD" [(ngModel)]="datetime"></ion-datetime>
    <ion-button type="button" (click)="getdata()" class="saveBtn">
        get details
      </ion-button>
  </ion-item> 
  <ion-item style="margin-top: 20px !important;">
    <ion-label>Date</ion-label>
    <ion-select (ionChange)="dateChangeDrop()" style="width:100%;" placeholder="Select Option" [(ngModel)]="dateSelect"
      class="native">
       <ion-select-option *ngFor="let item of daterequest" value="{{item}}">{{item}}</ion-select-option>
      
    </ion-select>
  </ion-item>


  <ion-item style="margin-top: 20px !important;">
    <ion-label>Travel Type</ion-label>
    <ion-select (ionChange)="travelTypeDrop()" style="width:100%;" placeholder="Select Option" [(ngModel)]="travelType"
      class="native">
      <ion-select-option *ngFor="let item of tadatype"  [value]="item">{{item.name}}</ion-select-option>
      

    </ion-select>
  </ion-item>

  <ion-item style="margin-top: 20px !important;" *ngIf="travelType.iskm == '1'">
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-label  color="secondary">Travel Dist.</ion-label>
          <ion-label  color="secondary">(5/KM )</ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-input class="inputclass" (ionChange)="changeFn($event)" type="text" [(ngModel)]="travleKm"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item style="margin-top: 20px !important;">
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-label  color="secondary">Travel Amount</ion-label>
          <ion-label  color="secondary">( in rupees )</ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-input class="inputclass" type="text" [(ngModel)]="travleAmt"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>


    <ion-item style="margin-top: 20px !important;" *ngIf="travelType.iskm==3">
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-label  color="secondary ion-text-wrap" >Pl Enter Hotel Note</ion-label>
          
        </ion-col>
        <ion-col size="7">
          <ion-input class="inputclass" type="text" [(ngModel)]="hotelnote" readonly></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-row *ngIf="travelType.iskm == 0 || travelType.iskm==3">
    <ion-col size="12">
      <p style="color: #000 !important;">Upload</p>

        <div style="width: 100%; background-color: #FDF6F285; border: 1px dashed #424242; padding: 34px !important;" (click) ="OpenPancardFile()" [ngStyle]="{'height': imageShow !='' ? '14rem' : '7rem' }">
          <div style="width: 100%; position: relative;">
            <div style="float: left; width: 45%; text-align: right; padding-right: 5px !important;">
              <img src="assets/newdesign/path103898.png">
            </div> 
            <div style="width: 55%; float: right; padding-left: 5px !important; padding-top: 3px !important; color: #d67b42 !important;">Upload</div>
          </div>
          <div style="width: 100%; position: relative;" *ngIf="imageShow !=''">
            <div style="width: 100%; position: relative;">
              <img src="imgBlob" style="height: 8rem !important; width: 100% !important;" />
            </div>
          </div>
        </div>
    </ion-col>
  </ion-row>


  <ion-row no-margin no-padding style="margin-top: 20px !important;">
    <ion-col size="12" no-margin no-padding style="text-align: center;">
      <ion-button type="button" (click)="saveBtn()" class="saveBtn">
        Submit
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-content color="light" class="bgWhite" style="height: 35%;" *ngIf="finalArr.length != 0">
    <div style="border:1px solid #ccc; padding:5px;" *ngFor="let item of finalArr; let i = index;">
      <ion-item>
        <ion-label color="primary">{{ item.date }}</ion-label>
        <ion-icon name="trash-outline" color="danger" (click)="dateWiseBtn(i)"></ion-icon>
      </ion-item>
    <table style="width:100%; border: 1px solid #ccc; padding: 5px;">
    <tr><th></th><th>Type</th><th>Amt.</th><th>Dist.</th><th>Image</th></tr>

    <tr  *ngFor="let itemSub of item.dateWise; let j = index;">
      <td><ion-icon name="trash-outline" color="danger" (click)="dateWiseSubBtn(i,j)"></ion-icon></td>
      <td><p style="text-align: center;">{{ itemSub.travelType }}</p></td>
      <td><p style="text-align: right;">₹ {{ itemSub.travleAmt }}</p></td>
      <td><p style="text-align: center;">{{ itemSub.travleKm }}</p></td>
      <td><p style="text-align: center;"><a href="{{ itemSub.imageShow }}" *ngIf="itemSub.imageShow !=''">View</a></p></td>
    </tr>
  
    </table>
  </div>
<table><tr><td class="second">Day total</td><td>1000</td><td class="second">Other Total</td><td>500</td></tr></table>
 <ion-button color="danger" expand="full" (click)="uploadTADA()">
          Upload DSR </ion-button>
   <ion-item>

      <ion-label color="secondary">Montly approved Limit</ion-label>
      <ion-label color="dark">{{limit}}</ion-label>
    </ion-item>
    <ion-item>

      <ion-label color="secondary">Used Till Date</ion-label>
      <ion-label color="dark">{{used_limit}}</ion-label>
    </ion-item>
        <ion-item>

      <ion-label color="secondary">Till Date Balance</ion-label>
      <ion-label color="dark">{{limit_bal}}</ion-label>
    </ion-item>
    <ion-item>

      <ion-label color="secondary">Monthly Other Expense</ion-label>
      <ion-label color="dark">{{oth_exp}}</ion-label>
    </ion-item>
</ion-content>