.inputclass{
    border: 1px solid #ccc;
    margin: 5px;
    height: 30px;
}

.imgwidth{ width:30%; }
table{
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
     margin-bottom: 10px;
    width: 100%;
}
table td{padding:5px;}
.second{color: #000;
    font-weight: bold;}